@import '../../styles/nuclides/index.scss';

@mixin pos-abs-top-left($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

.m-project-selectors {
  height: 3rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  &__item {
    display: inline-block;
    margin: 0 0.1rem;
    height: 100%;
    width: 1rem;
    background: $color-white;
    cursor: pointer;
    // transition: transform 300ms linear;
    &:hover {
      transform: translateY(0.5rem);
      position: relative;
      &::before {
        @include pos-abs-top-left(-0.5rem, 0);
        content: '';
        height: 0.5rem;
        width: 1rem;
        background: $color-white;
      }
      &::after {
        @include pos-abs-top-left(100%, 0);
        content: '';
        width: 0;
        height: 0;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-top: 0.5rem solid $color-white;
      }
    }
    &--active {
      transform: translateY(0.5rem);
      position: relative;
      &::before {
        @include pos-abs-top-left(-0.5rem, 0);
        content: '';
        height: 0.5rem;
        width: 1rem;
        background: $color-white;
      }
      &::after {
        @include pos-abs-top-left(100%, 0);
        content: '';
        width: 0;
        height: 0;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-top: 0.5rem solid $color-white;
      }
    }
    &--home,
    &--home:hover {
      background: $badass-green;
      &::before {
        background: $badass-green;
      }
      &::after {
        border-top: 0.5rem solid $badass-green;
      }
    }
  }
}
